{% for secret in secrets %}
    <div class="modal fade secret-modal" id="secret-modal-{{ secret.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ secret.name }}</h4>
                </div>
                <div class="modal-body ciphertext" id="secret-{{ secret.id }}-ciphertext">
                    {{ secret.secret }}
                </div>
            </div>
        </div>
    </div>

    <div class="card secret-card">
        <div class="card-header">{{ secret.name }}</div>
        <div class="card-block card-text">
            <dl class="row">
                <dt class="col-sm-3">safe</dt>
                <dd class="col-sm-9">{{ secret.safe.name }}</dd>
                <dt class="col-sm-3">vault</dt>
                <dd class="col-sm-9">{{ secret.safe.vault.name }}</dd>
                <dt class="col-sm-3">ciphertext</dt>
                <dd class="col-sm-9">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#secret-modal-{{ secret.id }}">view
                    </button>
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <a href="{% url "secret_detail" secret.safe.name secret.name %}">details</a>
        </div>
    </div>
{% endfor %}