<div class="col-xs-12 col-md-4 col-xl-3 side-navigation">
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-12"><!-- navigation-card column -->
            <div class="card card-inverse navigation-card"><!-- card -->
                <div class="card-header"><h4 class="card-title">Hosts Overview</h4></div>
                <div class="card-block card-text">
                    <dl class="row">
                        <dt class="col-xs-3 col-md-6 col-xl-4">Total</dt>
                        <dd class="col-xs-9 col-md-6 col-xl-8">{{ host_count }}</dd>
                        {% for environment in environments %}
                        <dt class="col-xs-3 col-md-6 col-xl-4">{{ environment.name }}</dt>
                        <dd class="col-xs-9 col-md-6 col-xl-8">{{ environment.host_set.all.count }}</dd>
                        {% endfor %}
                    </dl>
                </div><!-- end card block -->
            </div><!-- end card -->
        </div><!-- end navigation card column -->

        <div class="col-xs-12 col-sm-6 col-md-12"><!-- filter-card column -->
            <div class="card card-inverse navigation-card"><!-- card -->
                <div class="card-header"><h4 class="card-title">Hosts Filters</h4></div>
                <div class="card-block card-text"><!-- card block -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            environment: all
                        </button>
                        <div class="dropdown-menu">
                            {% for environment in environments %}
                            <a class="dropdown-item" href="#">environment: {{ environment.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end card block -->
            </div><!-- end card -->
        </div><!-- end filter-card column -->

    </div><!-- end row -->
</div><!-- end side navigation -->