        <div class="card card-inverse navigation-card">
            <div class="card-header"><h4 class="card-title">{{ title }}</h4></div>
            <div class="card-block card-text">
                <dl class="row">
                    <dt class="col-xs-3 col-md-6 col-xl-4"><a href="{% url "secrets" %}">Secrets</a></dt>
                    <dd class="col-xs-9 col-md-6 col-xl-8">{{ secrets_count }}</dd>
                    <dt class="col-xs-3 col-md-6 col-xl-4"><a href="{% url "safe_list" %}">Safes</a></dt>
                    <dd class="col-xs-9 col-md-6 col-xl-8">{{ safes_count }}</dd>
                </dl>
            </div>
        </div>