<div class="row">

    <div class="col-xs-12 col-xm-6 col-md-12">

        <div class="card card-inverse navigation-card">
            <div class="card-header"><h4 class="card-title">Secrets Overview</h4></div>
            <div class="card-block card-text">
                <dl class="row">
                    <dt class="col-xs-3 col-md-6 col-xl-4">Secrets</dt>
                    <dd class="col-xs-9 col-md-6 col-xl-8">{{ secrets_count }}</dd>
                    <dt class="col-xs-3 col-md-6 col-xl-4">Safes</dt>
                    <dd class="col-xs-9 col-md-6 col-xl-8">{{ safes_count }}</dd>
                </dl>
            </div>
        </div>

        {% include "environments/_secret_edit_modal.html" %}

        <div class="card card-inverse navigation-card">
            <div class="card-header"><h4 classs="card-title">Actions</h4></div>
            <div class="card-block card-text">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#create-secret-modal">Add
                    secret
                </button>
            </div>
            <div class="card-footer card-text">
                <a href="#">Manage Safes</a>
            </div>
        </div>

    </div><!-- end column -->

</div><!-- end row -->
