{% extends "dewey/__base.html" %}
{% load dewey_utils %}

{% block content_container %}<div class="container-fluid">

    <div class="row content-row">

        <div class="col-xs-12 col-md-4 col-xl-3 side-navigation">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-12">
                    <div class="card card-inverse navigation-card"><!-- card -->
                        <div class="card-header"><h4 class="card-title">Host Details</h4></div>
                        <div class="card-block card-text">
                            <ul class="list-group list-group-flush" id="toc">
                                <li class="list-group-item toc-item" id="toc-item-general">
                                    <a href="#general">general</a>
                                </li>
                                <li class="list-group-item toc-item" id="toc-item-safes">
                                    <a href="#safes">safes</a>
                                </li>
                                <li class="list-group-item toc-item" id="toc-item-secrets">
                                    <a href="#secrets">secrets</a>
                                </li>
                            </ul>
                        </div><!-- end card block -->
                    </div><!-- end card -->
                </div>
            </div>

            {% comment %}{% include "environments/_hosts_side_navigation.html" %}{% endcomment %}

        </div><!-- end side-navigation -->

        <div class="col-xs-12 col-md-8 col-xl-9 content">
            <div class="card host-card" id="general-card"><a name="general"></a>
                <h3 class="card-header">{{ object.hostname }}</h3>
                <div class="card-block card-text">
                    <dl class="row">
                        <dt class="col-sm-3">fqdn</dt>
                        <dd class="col-sm-9">{{ object.hostname }}</dd>

                        <dt class="col-sm-3">location</dt>
                        <dd class="col-sm-9">{{ object.domain }}</dd>

                        <dt class="col-sm-3">environment</dt>
                        <dd class="col-sm-9">{{ object.environment.name }}</dd>

                        <dt class="col-sm-3">roles</dt>
                        <dd class="col-sm-9">
                            <ul class="list-unstyled">
                                {% for role in host.rolenames %}
                                <li>{{ role }}</li>
                                {% endfor %}
                            </ul>
                        </dd>

                        <dt class="col-sm-3">parent</dt>
                        {% if host.parent|get_type == 'Cluster' %}
                            <dd class="col-sm-9">{{ host.parent.name }}</dd>
                        {% elif host.parent|get_type == 'Host' %}
                            <dd class="col-sm-9">{{ host.parent.hostname }}</dd>
                        {% else %}
                            <dd class="col-sm-9">{{ host.parent.manufacturer }} {{ host.parent.model }}</dd>
                        {% endif %}

                        <dt class="col-sm-3">os</dt>
                        <dd class="col-sm-9">{{ host.get_operating_system_display }}</dd>

                        <dt class="col-sm-3">addresses</dt>
                        <dd class="col-sm-9">
                            <ul class="list-unstyled">
                            {% for interface, addresses in host.ip_addresses.items %}
                                {% for address in addresses %}
                                    <li>eth{{ interface }}: {{ address.address }}/{{ address.mask_bits }}</li>
                                {% endfor %}
                            {% endfor %}
                            </ul>

                        </dd>


                    </dl>
                </div>
            </div>

            <div class="card" id="safes-card"><a name="safes"></a>
                <h4 class="card-header">safes for {{ host.shortname }}</h4>
                <div class="card-block card-text">
                    <dl class="row">
                        <dt class="col-md-3">safes</dt>
                        <dd class="col-md-9">
                        <ul class="list-unstyled">
                            {% for safe in host.safes %}
                                <li>{{ safe.name }}</li>
                            {% endfor %}
                        </ul>
                        </dd>
                    </dl>

                </div>
            </div>

            <div class="card" id="secrets-card"><a name="secrets"></a>
                <h4 class="card-header">secrets for {{ object.shortname }}</h4>
                <div class="card-block card-text">

                    {% for secret in object.secrets %}
                        <div class="modal fade secret-modal" id="secret-modal-{{ secret.id }}" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">{{ secret.name }}</h4>
                                    </div>
                                    <div class="modal-body ciphertext" id="secret-{{ secret.id }}-ciphertext">
                                        {{ secret.secret }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card secret-card">
                            <div class="card-header">{{ secret.name }}</div>
                            <div class="card-block card-text">
                                <dl class="row">
                                    <dt class="col-sm-3">safe</dt>
                                    <dd class="col-sm-9">{{ secret.safe.name }}</dd>
                                    <dt class="col-sm-3">vault</dt>
                                    <dd class="col-sm-9">{{ secret.safe.vault.name }}</dd>
                                    <dt class="col-sm-3">ciphertext</dt>
                                    <dd class="col-sm-9"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#secret-modal-{{ secret.id }}">view</button></dd>
                                </dl>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <h2></h2>
        </div><!-- end content -->

    </div>

</div>{% endblock content_container %}

{% block script %}
{{  block.super }}
<script type="text/javascript">
    $(function() {
        $.set_active = function(section) {
            var selector = '#toc-item-' + section;
            $(selector).addClass('active');
        };

        var url_hash = window.location.hash;
        var url_section = url_hash.split('#')[1];
        if (typeof url_section === 'undefined') {
            $.set_active('general');
        } else {
            $.set_active(url_section);
        }

        $('.toc-item').click(function(event) {
            event.preventDefault();

            // get hash from href element
            var hash = $(this).children('a').attr('href');
            var goto = hash + '-card';

            // Using jQuery's animate() method to add smooth page scroll
            $('html, body').animate({
                // wish we could use rem's here instead of px
                scrollTop: $(goto).offset().top - 65
            }, 250, function() {
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
            });

            $('#toc').children().each(function() {
                $(this).removeClass('active');
            });

            var section = hash.split('#')[1];
            $.set_active(section);

            return false;
         });
     });
</script>
{% endblock script %}