{% extends "dewey/__base.html" %}
{% load dewey_utils %}

{% block content_container %}<div class="container-fluid">

    <div class="row content-row">

        <div class="col-xs-12 col-md-4 col-xl-3 side-navigation">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-12">
                    <div class="card card-inverse navigation-card"><!-- card -->
                        <div class="card-header"><h4 class="card-title">Host Details</h4></div>
                        <div class="card-block card-text">
                            <ul class="list-group list-group-flush" id="toc">
                                <li class="list-group-item toc-item" id="toc-item-general">
                                    <a href="#general"><i class="fa fa-cog"></i> general</a>
                                </li>
                                <li class="list-group-item toc-item" id="toc-item-monitoring">
                                    <a href="#monitoring"><i class="fa fa-bell"></i> monitoring</a>
                                </li>
                                <li class="list-group-item toc-item" id="toc-item-safes">
                                    <a href="#safes"><i class="fa fa-shield"></i> safes</a>
                                </li>
                                <li class="list-group-item toc-item" id="toc-item-secrets">
                                    <a href="#secrets"><i class="fa fa-lock"></i> secrets</a>
                                </li>
                            </ul>
                        </div><!-- end card block -->
                    </div><!-- end card -->
                </div>
            </div>

            {% comment %}{% include "environments/_hosts_side_navigation.html" %}{% endcomment %}

        </div><!-- end side-navigation -->

        <div class="col-xs-12 col-md-8 col-xl-9 content">
            <div class="card host-card" id="general-card"><a name="general"></a>
                <h3 class="card-header">{{ object.hostname }}</h3>
                <div class="card-block card-text">
                    <dl class="row">
                        <dt class="col-xs-4">fqdn</dt>
                        <dd class="col-xs-8">{{ object.hostname }}</dd>

                        <dt class="col-xs-4">location</dt>
                        <dd class="col-xs-8">{{ object.domain }}</dd>

                        <dt class="col-xs-4">env</dt>
                        <dd class="col-xs-8">{{ object.environment.name }}</dd>

                        {% if host.roles|length > 0 %}
                        <dt class="col-xs-4">roles</dt>
                        <dd class="col-xs-8">
                            <ul class="list-unstyled">
                                {% for role in host.rolenames %}
                                <li>{{ role }}</li>
                                {% endfor %}
                            </ul>
                        </dd>
                        {% endif %}

                        <dt class="col-xs-4">parent</dt>
                        {% if host.parent|get_type == 'Cluster' %}
                            <dd class="col-xs-8">{{ host.parent.name }}</dd>
                        {% elif host.parent|get_type == 'Host' %}
                            <dd class="col-xs-8">{{ host.parent.hostname }}</dd>
                        {% else %}
                            <dd class="col-xs-8">{{ host.parent.manufacturer }} {{ host.parent.model }}</dd>
                        {% endif %}

                        <dt class="col-xs-4">os</dt>
                        <dd class="col-xs-8">{{ host.get_operating_system_display }}</dd>

                        {% if host.ip_addresses|length > 0 %}
                        <dt class="col-xs-4">addresses</dt>
                        <dd class="col-xs-8">
                            <ul class="list-unstyled">
                            {% for interface, addresses in host.ip_addresses.items %}
                                {% for address in addresses %}
                                    <li>eth{{ interface }}: {{ address.address }}/{{ address.mask_bits }}</li>
                                {% endfor %}
                            {% endfor %}
                            </ul>
                        </dd>
                        {% endif %}
                    </dl>
                </div>
            </div>

            <div class="card" id="monitoring-card"><a name="monitoring"></a>
                <h4 class="card-header">monitoring of {{ host.shortname }}</h4>
                <div class="card-block card-text">
                    {% if host.monitored %}
                        <p class="lead">
                            <i class="fa fa-bell"></i> Monitoring is currently enabled for this host
                            {% if host.environment.monitored %}(via {{ host.environment.name }}){% endif %}
                        </p>
                    {% else %}
                        <p class="lead">
                        <i class="fa fa-bell-slash"></i> Monitoring is disabled for this host
                            {% if not host.environment.monitored %}(via {{ host.environment.name }}){% endif %}
                        </p>
                    {% endif %}

                    {% if host.hostmonitoringexception_set.all %}
                        <h5>monitoring exceptions</h5>
                        <ul class="list-unstyled">
                            {% for exception in host.hostmonitoringexception_set.all %}
                                {% if not exception.monitored %}
                                    <li>Do not monitor from {{ exception.start }} to {{ exception.end }}</li>
                                {% else %}
                                    <li>Monitor from {{ exception.start }} to {{ exception.end }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="card" id="safes-card"><a name="safes"></a>
                <h4 class="card-header">safes for {{ host.shortname }}</h4>
                <div class="card-block card-text">
                    <dl class="row">
                        <dt class="col-md-3">safes</dt>
                        <dd class="col-md-9">
                        <ul class="list-unstyled">
                            {% for safe in host.safes %}
                                <li><a href="{% url "safe_detail" safe.name %}">{{ safe.name }}</a></li>
                            {% endfor %}
                        </ul>
                        </dd>
                    </dl>

                </div>
            </div>

            <div class="all-secrets-modal modal" id="all-secrets" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                <span aria-hidden="true">x</span>
                            </button>
                            <h4 class="modal-title">all secrets for {{ host.hostname }}</h4>
                        </div>
                        <div class="modal-body" id="all-secrets-modal-body">
                            {% for secret in host.secrets %}
                                <dl class="row">
                                    <dt class="col-sm-6">
                                        <a href="{% url "secret_detail" secret.safe.name secret.name %}">
                                            {{ secret.name }}
                                        </a>
                                    </dt>
                                    <dd>
                                        <a href="{% url "safe_detail" secret.safe.name %}">
                                            {{ secret.safe.name }}
                                        </a>
                                    </dd>
                                </dl>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" id="secrets-card"><a name="secrets"></a>
                <h4 class="card-header">effective secrets for {{ object.shortname }}</h4>
                <div class="card-block card-text">
                    {% with secrets=host.effective_secrets %}
                        {% include "environments/_child_secrets_list.html" %}
                    {% endwith %}
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#all-secrets">
                        all secrets
                    </button>
                </div>
            </div>
        </div><!-- end content -->

    </div>

</div>{% endblock content_container %}

{% block script %}
{{  block.super }}
<script type="text/javascript">
    $(function() {
        $.set_active = function(section) {
            var selector = '#toc-item-' + section;
            $(selector).addClass('active');
        };

        var url_hash = window.location.hash;
        var url_section = url_hash.split('#')[1];
        if (typeof url_section === 'undefined') {
            $.set_active('general');
        } else {
            $.set_active(url_section);
        }

        $('.toc-item').click(function(event) {
            event.preventDefault();

            // get hash from href element
            var hash = $(this).children('a').attr('href');
            var goto = hash + '-card';

            // Using jQuery's animate() method to add smooth page scroll
            $('html, body').animate({
                // wish we could use rem's here instead of px
                scrollTop: $(goto).offset().top - 65
            }, 250, function() {
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
            });

            $('#toc').children().each(function() {
                $(this).removeClass('active');
            });

            var section = hash.split('#')[1];
            $.set_active(section);

            return false;
         });
     });
</script>
{% endblock script %}