{% extends "dewey/__two_column.html" %}

{% block right_column %}

    <div class="card secret-card" id="general-card"><a name="general"></a>
        <h3 class="card-header">{{ secret.name }} in {{ secret.safe.name }}</h3>
        <div style="display: none" id="secret-id">{{ secret.id }}</div>
        <div class="card-block card-text">
            <dl class="row">

                <dt class="col-xs-4">safe</dt>
                <dd class="col-xs-8">
                    <a href="{% url "safe_detail" secret.safe.name %}">
                        {{ secret.safe.name }}
                    </a>
                </dd>

                <dt class="col-xs-4">env</dt>
                {% if safe.vault.environment %}
                    <dd class="col-xs-8">{{ safe.vault.environment.name }}</dd>
                {% else %}
                    <dd class="col-xs-8">all</dd>
                {% endif %}

                <dt class="col-xs-4">ciphertext</dt>
                <!-- TODO: add modal for ciphertext -->
                <dd class="col-xs-8">
                    <button class="btn btn-sm btn-primary">
                        view
                    </button>
                </dd>

            </dl>
        </div><!-- end card-block secret-card -->
    </div><!-- end card secret-card -->

    <div class="card secret-access-card" id="acess-card"><a name="access"></a>
        <h3 class="card-header">access to {{ secret.name }}</h3>
        <div class="card-block card-text">
            <p>
                To modify access controls please see the <a
                    href="{% url "safe_detail" secret.safe.name %}">{{ secret.safe.name }}</a>
                safe.
            </p>
            <p>The following hosts have access to this secret:</p>
            <ul>
                {% for host in secret.hosts %}
                    <li><a href="{% url "host_detail" host.hostname %}">{{ host.hostname }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock right_column %}
