{% extends "dewey/__two_column.html" %}
{% load static %}

{% block left_column %}
    {% include "environments/_secrets_side_navigation.html" %}
{% endblock %}

{% block right_column %}

    <div class="card secret-card" id="general-card"><a name="general"></a>
        <h3 class="card-header">{{ secret.name }} in {{ secret.safe.name }}</h3>
        <div style="display: none" id="secret-id">{{ secret.id }}</div>
        <div class="card-block card-text">

            <div class="modal fade secret-modal" id="secret-modal-{{ secret.id }}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">{{ secret.name }}</h4>
                        </div>
                        <div class="modal-body ciphertext" id="secret-{{ secret.id }}-ciphertext">
                            {{ secret.secret }}
                        </div>
                    </div>
                </div>
            </div>

            {% include "environments/_secret_edit_modal.html" %}

            <div class="modal fade delete-secret-modal" id="delete-secret-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">confirm deletion</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete {{ secret.name }} from {{ secret.safe.name }}?</p>
                            <p><button class="btn btn-sm btn-danger" id="delete-secret">
                                <i class="fa fa-trash"></i> Delete
                            </button></p>
                        </div>
                    </div>
                </div>
            </div>

            <dl class="row">

                <dt class="col-xs-4">safe</dt>
                <dd class="col-xs-8">
                    <a href="{% url "safe_detail" secret.safe.name %}">
                        {{ secret.safe.name }}
                    </a>
                </dd>

                <dt class="col-xs-4">vault</dt>
                <dd class="col-xs-8">{{ secret.safe.vault.name }}</dd>

                <dt class="col-xs-4">env</dt>
                {% if secret.safe.environment %}
                    <dd class="col-xs-8">{{ secret.safe.environment_name }}</dd>
                {% else %}
                    <dd class="col-xs-8">all</dd>
                {% endif %}


                <dt class="col-xs-4">ciphertext</dt>
                <dd class="col-xs-8">
                    <button class="btn btn-sm btn-primary" data-toggle="modal"
                            data-target="#secret-modal-{{ secret.id }}">
                        view
                    </button>
                </dd>

                <dt class="col-xs-4">sls pillar</dt>
                <dd class="col-xs-8"><small>{{ secret.sls_reference }}</small></dd>

            </dl>
        </div><!-- end card-block secret-card -->
        <div class="card-footer">
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#update-secret-modal"><i
                    class="fa fa-pencil-square-o"></i> Edit
            </button>
            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-secret-modal"><i
                    class="fa fa-trash"></i> Delete
            </button>
        </div>
    </div><!-- end card secret-card -->

    <div class="card secret-access-card" id="acess-card"><a name="access"></a>
        <h3 class="card-header">access to {{ secret.name }}</h3>
        <div class="card-block card-text">
            <p>
                To modify access controls please see the <a
                    href="{% url "safe_detail" secret.safe.name %}">{{ secret.safe.name }}</a>
                safe.
            </p>
            <p>The following hosts have access to this secret:</p>
            <ul>
                {% for host in secret.hosts %}
                    <li><a href="{% url "host_detail" host.hostname %}">{{ host.hostname }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock right_column %}

{% block script %}
{{ block.super }}
<script type="text/javascript" src="{% static "dewey/javascript/pseudoform.js" %}"></script>
<script type="text/javascript">
    $(function() {
        $('#delete-secret').click(function(event) {
            console.log('button clicked');
            event.preventDefault();
            var parameters = {
                "secret": "{{ secret.name }}", "safe": "{{ secret.safe.name }}",
                "verb": "delete", "csrfmiddlewaretoken": "{{ csrf_token }}"
            };
            $.pseudoform("{% url "secret_detail" secret.safe.name secret.name  %}", parameters);
        });
    });
</script>
{% endblock %}
