{% extends "dewey/__base.html" %}

{% block content %}
    <div class="col-xs-12 col-md-4 col-xl-3 side-navigation">
        {% include "environments/_secrets_side_navigation.html" %}
    </div>

    <div class="col-xs-12 col-md-8 col-xl-9">
        <div class="row">
            {% for secret in secret_list %}
                <div class="col-xs-12 col-md-6 col-xl-4">
                    <div class="card secret-card">
                        <div class="card-header">{{ secret.name }}</div>
                        <div class="card-block card-text">
                            <dl class="row">
                                <dt class="col-xs-4">safe</dt>
                                <dd class="col-xs-8">{{ secret.safe.name }}</dd>
                                <dt class="col-xs-4">env</dt>
                                {% if safe.secret.environment %}
                                <dd class="col-xs-8">{{ secret.safe.environment.name }}</dd>
                                {% else %}
                                <dd class="col-xs-8">all</dd>
                                {% endif %}
                                <dt class="col-xs-4">cipher</dt>
                                <dd class="col-xs-8"><button class="btn btn-sm btn-primary">view</button></dd>
                            </dl>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">secret details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}