{% extends "dewey/__base.html" %}

{% block content %}
    <div class="col-xs-12 col-md-4 col-xl-3 side-navigation">
        {% include "environments/_secrets_side_navigation.html" %}
    </div>

    <div class="col-xs-12 col-md-8 col-xl-9">
        <div class="row">
            {% for secret in secret_list|dictsort:"name" %}
                <div class="col-xs-12 col-md-6 col-xl-4">

                    <div class="modal fade secret-modal" id="secret-modal-{{ secret.id }}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">{{ secret.name }}</h4>
                                </div>
                                <div class="modal-body ciphertext" id="secret-{{ secret.id }}-ciphertext">
                                    {{ secret.secret }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card secret-card">
                        <div class="card-header">{{ secret.name }}</div>
                        <div class="card-block card-text">
                            <dl class="row">
                                <dt class="col-xs-4">safe</dt>
                                <dd class="col-xs-8">
                                    <a href="{% url "safe_detail" secret.safe.name %}">
                                        {{ secret.safe.name }}
                                    </a>
                                </dd>

                                <dt class="col-xs-4">env</dt>
                                {% if secret.safe.environment %}
                                <dd class="col-xs-8">{{ secret.safe.environment.name }}</dd>
                                {% else %}
                                <dd class="col-xs-8">all</dd>
                                {% endif %}

                                <dt class="col-xs-4">ciphertext</dt>
                                <dd class="col-xs-8">
                                    <button class="btn btn-sm btn-primary" data-toggle="modal"
                                            data-target="#secret-modal-{{ secret.id }}">view
                                    </button>
                                </dd>

                            </dl>
                        </div>
                        <div class="card-footer">
                            <a href="{% url "secret_detail" secret.safe.name secret.name %}" class="card-link">secret details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}