*.pyc
.idea
*.log
.*.swp
build
debian/dewey
debian/files
debian/changelog
dewey.egg-info
dist
debian/dewey.postinst.debhelper
debian/dewey.substvars
debian/dewey.postrm.debhelper
debian/dewey.preinst.debhelper
debian/dewey.prerm.debhelper
.DS_Store
