<div class="row">

  <div class="col-xs-12 col-sm-6 col-md-12"><!-- navigation-card column -->
    <div class="card card-inverse navigation-card"><!-- card -->
      <div class="card-header"><h4 class="card-title">Salt Events</h4></div>
      <div class="card-block card-text">
        <ul class="list-group list-group-flush" id="toc">
          <li class="list-group-item toc-item" id="toc-item-highstates"><a href="{% url "salt:highstates_list" %}"><i
              class="fa fa-arrow-up"></i> Highstates</a></li>
          <li class="list-group-item toc-item" id="toc-item-stateerrors"><a href="{% url "salt:stateerrors_list" %}"><i
              class="fa fa-exclamation-triangle"></i> State Errors</a></li>
          <li class="list-group-item toc-item" id="toc-item-statechanges"><a
              href="{% url "salt:statechanges_list" %}"><i class="fa fa-files-o"></i> State Changes</a></li>
        </ul>
      </div><!-- end card block -->
    </div><!-- end card -->
  </div><!-- end navigation card column -->

  <div class="col-xs-12 col-sm-6 col-md-12"><!-- filter-card column -->
    <div class="card card-inverse navigation-card"><!-- card -->
      <div class="card-header"><h4 class="card-title">Filters</h4></div>
      <div class="card-block card-text"><!-- card block -->

        <form class="form form-horizontal host-filter-form">

          <p><label for="env-select">Environment</label>
            <select id="env-select" name="env-select" form="host-filter-form">
              <option value="all">all</option>
              {% for environment in environments %}
                <option value="{{ environment.name }}">{{ environment.name }}</option>
              {% endfor %}
            </select>
          </p>

          <p><label for="role-select">Role</label>
            <select id="role-select" name="role-select" form="host-filter-form">
              <option value="any">any</option>
              {% for role in roles %}
                <option value="{{ role.name }}">{{ role.name }}</option>
              {% endfor %}
            </select>
          </p>

        </form>

        <div class="row">
          <div class="col-md-12">
            <button id="filter-button" class="btn btn-primary">Filter</button>
          </div>
        </div>

      </div><!-- end card block -->
    </div><!-- end card -->
  </div><!-- end filter-card column -->

</div><!-- end row -->