{% extends "dewey/__base.html" %}

{% block content %}
    <div class="col-xs-12 col-md-4 col-xl-3 side-navigation">
        {% include "salt/_salt_side_navigation.html" %}
    </div>
    <div class="col-xs-12 col-md-8 col-xl-9 content">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-xl-9 content">
          <div class="row">
            <div class="col-xs-12">

              <div class="card">
                <div class="card-header">Highstate {{ highstate.jid }} on {{ highstate.host.hostname }}</div>
                <div class="card-block card-text">
                  <dl class="row">
                        <dt class="col-xs-4">host</dt>
                        <dd class="col-xs-8">{{ highstate.host.hostname }}</dd>

                        <dt class="col-xs-4">timestamp</dt>
                        <dd class="col-xs-8">{{ highstate.timestamp }}</dd>

                        <dt class="col-xs-4">jid</dt>
                        <dd class="col-xs-8">{{ highstate.jid }}</dd>

                        {% if highstate.disabled %}
                        <dt class="col-xs-4">disabled</dt>
                        <dd class="col-xs-8">highstates are disabled for this host!</dd>
                        {% endif %}

                        {% if highstate.statechange_set.count > 0 %}
                        <dt class="col-xs-4">state changes</dt>
                        <dd class="col-xs-8">{{ highstate.statechange_set.all|length }}</dd>
                        {% endif %}

                        {% if highstate.stateerror_set.count > 0 %}
                        <dt class="col-xs-4">state errors</dt>
                        <dd class="col-xs-8">{{ highstate.stateerror_set.all|length }}</dd>
                        {% endif %}
                  </dl>
                </div>
              </div>

              {% if highstate.stateerror_set.all %}
              <div class="card">
                <div class="card-header">State Errors for Highstate {{ highstate.jid }}</div>
                <div class="card-block card-text">
                    {% for stateerror in highstate.stateerror_set.all %}
                      <dl class="row">
                        <dt class="col-xs-4">name</dt>
                        <dd class="col-xs-8">{{ stateerror.name }}</dd>

                        <dt class="col-xs-4">state id</dt>
                        <dd class="col-xs-8">{{ stateerror.state_id }}</dd>

                        <dt class="col-xs-4">comment</dt>
                        <dd class="col-xs-8">{{ stateerror.comment }}</dd>
                      </dl>
                    {% endfor %}
                </div>
              </div>
              {% endif %}

              {% if highstate.statechange_set.all %}
              <div class="card">
                <div class="card-header">State Changes for Highstate {{ highstate.jid }}</div>
                <div class="card-block card-text">
                    {% for statechange in highstate.statechange_set.all %}
                      <dl class="row">
                        <dt class="col-xs-4">name</dt>
                        <dd class="col-xs-8">{{ statechange.name }}</dd>

                        <dt class="col-xs-4">state id</dt>
                        <dd class="col-xs-8">{{ statechange.state_id }}</dd>

                        <dt class="col-xs-4">comment</dt>
                        <dd class="col-xs-8">{{ statechange.comment }}</dd>

                        {% if statechange.change_set.all %}
                        <dt class="col-xs-4">changes</dt>
                        <dd class="col-xs-8">
                        <ul class="list-unstyled">
                            {% for change in statechange.change_set.all %}
                              <li class="list-item">
                              <a href="{% url "salt:change_detail" change.id %}">{{ change.change_type }}</a>
                              </li>
                            {% endfor %}
                        </ul>
                        </dd>
                        {% endif %}
                      </dl>
                    {% endfor %}
                </div>
              </div>
              {% endif %}


            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}