{% extends "dewey/__base.html" %}

{% block content %}
    <div class="col-xs-12 col-md-4 col-xl-3 side-navigation">
        {% include "salt/_salt_side_navigation.html" %}
    </div>
    <div class="col-xs-12 col-md-8 col-xl-9 content">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-xl-9 content">
          <div class="row">
            <div class="col-xs-12">
              <div class="card">
                <div class="card-header">State Error</div>
                <div class="card-block card-text">
                      <dl class="row">
                        <dt class="col-xs-4">highstate</dt>
                        <dd class="col-xs-8">{{ stateerror.highstate.jid }}</dd>

                        <dt class="col-xs-4">host</dt>
                        <dd class="col-xs-8">{{ stateerror.highstate.host.hostname }}</dd>

                        <dt class="col-xs-4">timestamp</dt>
                        <dd class="col-xs-8">{{ stateerror.highstate.timestamp }}</dd>

                        <dt class="col-xs-4">name</dt>
                        <dd class="col-xs-8">{{ stateerror.name }}</dd>

                        <dt class="col-xs-4">state id</dt>
                        <dd class="col-xs-8">{{ stateerror.state_id }}</dd>

                        <dt class="col-xs-4">comment</dt>
                        <dd class="col-xs-8">{{ stateerror.comment }}</dd>
                      </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}