{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
{% block head %}<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% block title %}<title>dewey</title>{% endblock %}
    {% compress css %}
        {% block compressed_styles %}
            <link type="text/scss" rel="stylesheet" href="{% static "dewey/styles/custom-bootstrap.scss" %}" />
        {% endblock %}
    {% endcompress %}

</head>{% endblock head %}

{% block body %}<body>

    {% block navigation %}
        {% comment %} {% include "dewey/_navigation.html" %} {% endcomment %}
    {% endblock %}

    {% block content_container %}<div class="container-fluid">
        {% comment %}{% include "dewey/_messages.html" %}{% endcomment %}
        <div class="row">
            <div class="col-xs-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>{% endblock content_container %}

</body>{% endblock body %}

{% block script %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "dewey/javascript/vendor/jquery-2.2.4.min.js" %}"><\/script>')</script>
    <script src="{% static "dewey/javascript/vendor/bootstrap.min.js" %}"></script>
{% endblock script %}

</html>