{% extends "dewey/__base.html" %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-primary card-block card-inverse">
                    <div class="card-text">
                        <p>ok!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-inverse card-warning">
                    <p>warning!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-inverse card-danger">
                    <p>danger!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}