Source: dewey
Section: unknown
Priority: optional
Maintainer: Chris Haumesser <ch@wryfi.net>
Build-Depends: debhelper (>= 8.0.0), devscripts, python3-dev (>= 3.4), build-essential,
  python-virtualenv, rsync, git, git-lfs, libpq-dev, libreadline-dev, libncurses5-dev
Standards-Version: 3.9.4
Homepage: https://github.com/wryfi/dewey

Package: dewey
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3 (>= 3.4)
Description: managing data center and deployment inventory
 Dewey is a tool for managing data center inventory and deployment information.
