{% for secret in secrets|dictsort:"name" %}
    {% include "environments/_secret_ciphertext_modal.html" %}

    <div class="card secret-card">
        <div class="card-header">{{ secret.name }}</div>
        <div class="card-block card-text">
            <dl class="row">
                <dt class="col-sm-3">safe</dt>
                <dd class="col-sm-9">{{ secret.safe.name }}</dd>

                <dt class="col-sm-3">vault</dt>
                <dd class="col-sm-9">{{ secret.safe.vault.name }}</dd>

                <dt class="col-sm-3">ciphertext</dt>
                <dd class="col-sm-9">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#secret-modal-{{ secret.id }}"><i class="fa fa-eye"></i> view
                    </button>
                </dd>

                <dt class="col-sm-3">sls pillar</dt>
                <dd class="col-sm-9"><small><code>{{ secret.sls_reference }}</code></small></dd>

            </dl>
        </div>
        <div class="card-footer">
            <a href="{% url "secret_detail" secret.safe.name secret.name %}">details</a>
        </div>
    </div>
{% endfor %}